<!doctype html>
<html>

<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<div class="title">Miri Voice Converter</div>
<div align="center">
  <select [(ngModel)]="outputVoice" (change)="onNewType()">
    <option value="trump_test_mid_2">Trump</option>
    <option value="Microsoft Server Speech Text to Speech Voice (en-US, JessaRUS)">Jessa</option>
    <option value='Microsoft Server Speech Text to Speech Voice (en-US, Guy24KRUS)'>Guy</option>
  </select>

  <select [(ngModel)]="outputIntonation" (change)="onNewType()">
    <option value="natural">Natural</option>
    <option value="Nervous">Nervous</option>
    <option value='calm'>Calm</option>
  </select>
</div>

<body>
  <div id="viz">
    <canvas id="analyser" width="1024" height="500"></canvas>
    <canvas id="wavedisplay" width="1024" height="500"></canvas>
  </div>
  <div id="controls">
    <button class="btn btn-danger button-item" (click)="toggleRecording()" onclick="toggleRecording(this);"><span
        *ngIf="!recording"><span class="glyphicon glyphicon-record"></span>Record</span><span *ngIf="recording">
        <div class="loader-container"><span class="lds-dual-ring"></span></div>Listening...
      </span></button>
    <button [disabled]="loading || !fileName" class="btn btn-success button-item" (click)="play()">Play!</button>
  </div>
</body>



<div align="center" class="predict" id="test">
  <div *ngIf="loading" class="lds-circle">
    <div></div>
  </div>
  <p *ngIf="!loading && predict">Miri's Input: {{predict}}</p>
</div>

<!-- Do not delete -->
<a id="save" href="#"></a>

</html>
